<!doctype html>
<html>
  <head>
    <meta name="google-site-verification" content="AWRwPyqaQPcVwUDaChKxc68D2tGveyxKpdiKaj5R7VA" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <style>
    h1 {font-family: "Georgia", serif; font-size:40px; margin-bottom: 1%; margin-left: 5%; margin-right: 5%;}
    p {font-family: "Georgia", serif; font-size:16px; margin-left: 5%; margin-right: 5%;}
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
    <h1 style="text-align: center">{{ page.title }}</h1>
  </head>
  <body>
    {{ content }}
  </body>
</html>
